parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_scalar\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/ReverseRegex/Generator/Node.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: src/ReverseRegex/Generator/Node.php

		-
			message: '#^Strict comparison using \=\=\= between null and \*NEVER\* will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/ReverseRegex/Generator/Node.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/ReverseRegex/Generator/Scope.php

		-
			message: '#^Strict comparison using \=\=\= between true and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: src/ReverseRegex/Generator/Scope.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 4
			path: src/ReverseRegex/Lexer.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/ReverseRegex/Parser.php

		-
			message: '#^Call to an undefined method ReverseRegex\\Generator\\Scope\:\:getLiterals\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ReverseRegex/Parser/CharacterClass.php

		-
			message: '#^Call to an undefined method ReverseRegex\\Generator\\Scope\:\:setLiteral\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/ReverseRegex/Parser/CharacterClass.php

		-
			message: '#^Call to an undefined method ReverseRegex\\Generator\\Scope\:\:addLiteral\(\)\.$#'
			identifier: method.notFound
			count: 21
			path: src/ReverseRegex/Parser/Short.php

		-
			message: '#^Method ReverseRegex\\Parser\\Short\:\:parse\(\) should return ReverseRegex\\Generator\\Scope but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/ReverseRegex/Parser/Short.php

		-
			message: '#^Call to an undefined method ReverseRegex\\Generator\\Scope\:\:addLiteral\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/ReverseRegex/Parser/Unicode.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: src/ReverseRegex/Parser/Unicode.php

		-
			message: '#^Strict comparison using \!\=\= between ''\{'' and ''\}'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/ReverseRegex/Parser/Unicode.php

		-
			message: '#^Strict comparison using \=\=\= between ''\{'' and ''\{'' will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/ReverseRegex/Parser/Unicode.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 4
			path: src/ReverseRegex/Parser/Unicode.php

		-
			message: '#^PHPDoc tag @param has invalid value \(string the random generator type name\)\: Unexpected token "the", expected variable at offset 76 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/ReverseRegex/Random/GeneratorFactory.php

		-
			message: '#^Property ReverseRegex\\Random\\MersenneRandom\:\:\$max \(int\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/ReverseRegex/Random/MersenneRandom.php

		-
			message: '#^Property ReverseRegex\\Random\\MersenneRandom\:\:\$min \(int\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/ReverseRegex/Random/MersenneRandom.php

		-
			message: '#^Property ReverseRegex\\Random\\MersenneRandom\:\:\$ps \(int\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/ReverseRegex/Random/MersenneRandom.php
